
/*  reset
---------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
rticle, aside, canvas, details, embed,
figure, figcaption, footer, :eader, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}
body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  margin: 0;
  padding: 0;
  *font-size: small;
  *font: x-small;
}
select, input, button, textarea {
  font: 99% arial, helvetica, clean, sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
}
pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
  background: #fafafa;
  color: #333333;
  line-height: 1.8;
}
a:link { color: #0f99dd; }
a:visited { color: #5588b2; }
a:hover { color: #0c7aad; }
a:active { color: #2812a5; }


/* wrap
---------------*/

#wrap {
  width: 980px;
  margin: 0 auto;
}


/*  header
---------------*/

#header {
  width: 100%;
}
#header h1 {
  font-size: 28px; font-weight: bold; color: #555;
  margin: 75px 0 30px;
  text-shadow: 1px 0 1px;
  text-align: center;
}


/*  global
-----------------*/

#global {
  width: 100%;
  background: #454545;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
#global ul {
  overflow: hidden;
  width: 980px;
  margin: 0 auto;
}
#global ul li {
  display: block;
  float: left;
  padding: 10px 70px 10px 0;
  text-align: center;
}
#global ul li a {
  display: block;
  color: #edefef;
  text-decoration: none;
}


/*  about
------------------*/

#about {
  width: 100%;
  border: 1px soild #fafafa;
  border-radius: 3px;
  margin-bottom: 30px;
}
#about ol {
  width: 100%;
  border: 1px solid #fafafa;
  border-radius: 3px;
  margin-bottom: 30px;
}
#about ol li {
  display: block;
  overflow: hidden;
  width: 100%;
}
#about ol li h2 {
  float: left;
  width: 20%;
  padding: 10px 40px 10px 10px;
  font-size: 22px;
  color: #555;
}


/*  body
-------------------*/

#body {
  position: relative;
  margin-bottom: 50px;
}
#body blockquote {
  margin: 0;
  padding: 5px 20px;
  background: #ededed;
  border: 1px solid #ccc;
}


/*  main
-------------------*/

#main {
  overflow: hidden;
}
#main .breadcrumbs ol {
  text-align: left;
  margin-bottom: 30px;
}
#main .breadcrumbs li {
   display: inline;
   padding-left: 10px;
}
#main .breadcrumbs .current {
  font-weight: bold;
}


/*  articles
---------------------*/

#main #articles {
  width: 70%;
  float: left;
  padding-right: 30px;
}
#main #articles h2 {
  color: #edefef;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0 10px 20px;
  margin-bottom: 25px;
  background: #454544;
  border-radius: 3px;
  text-shadow: -1px -1px 1px #fff;
}
#main #articles header {
  overflow: hidden;
  margin-bottom: 20px;
}
#main #articles header h3 {
  width: 75%;
  float: left;
  color: #676767;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 2px 1px #bababa;
}
#main #articles header .date {
  float: right;
  width: 20%;
  font-size: 13px;
  font-weight: bold;
  color: #151515;
  text-align: right;
}
#main #articles .body h4 {
  color: #676767;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px dotted #afafaf;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
#main #articles .body h5 {
  display: inline-block;
  color: #555;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 10px 0;
  background: #dadada;
  border-radius: 3px;
}
#main #articles .body h6 {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  margin: 10px 0;
  padding-top: 10px;
}
#main #articles .body p {
  margin-bottom: 20px;
}
#main #articles .body ul {
  list-style: disc;
  margin-bottom: 20px;
  padding-left: 20px;
}
#main #articles .body ol {
  list-style: decimal;
  margin-bottom: 20px;
  padding-left: 20px;
}
#main #articles .body li {
  margin-bottom: 5px;
}
#main #articles .body table {
  margin-bottom: 20px;
}
#main #articles .body th,
#main #articles .body td {
  font-size: 14px;
  border: 1px solid #bababa;
  padding: 10px;
}

#main #articles .body th {
  color: #efeeee;
  font-weight: bold;
  text-align: center;
  background: #555;
}
#main #articles .body td {
  backgroud: #fafafa;
}
#main #articles footer {
  padding: 20px 0;
  overflow: hidden;
}
#main #articles footer dl {
  text-align: right;
}
#main #articles footer dt,
#main #articles footer dd {
  display: inline-block;
}
#main #articles footer dd {
  font-weight: bold;
}


/*  comment
---------------------*/

#main #comments {
  width: 25%;
  float: right;
}
#main #comments h3 {
  font-size: 18px;
  color: #edefef;
  background: #454545;
  text-align: center;
  margin-bottom: 15px;
  padding: 4px 0;
  text-shadow: -1px -1px 1px #fff;
  box-shadow: 2px 2px 2px;
  border-radius: 3px;
}
#main #comments ul {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#main #comments ul li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #cdcdcd;
}
#main #comments ul li:last-child {
  border-bottom: none;
}
#main #comments ul li p {
  margin-bottom: 10px;
}
#main #comments li dl {
  padding: 10px;
  background: #dadada;
  border-radius: 5px;
  font-size: 12px;
}
#main #comments li dd {
  font-weight: bold;
}


/* sub
---------------------*/

#sub {
  position: absolute;
  top: 540px;
  right: 0;
}
#sub .ad {
  width: 245px;
  height: 150px;
  line-height: 150px;
  color: #fff;
  background: #ff00aa;
  text-align: center;
  margin-bottom: 15px;
}
#sub #local ul {
  list-style: disc;
  padding-left: 15px;
  margin-bottom: 20px;
}
#sub .banners li a{
  display: block;
  width: 100%;
  text-align: center;
  background: #cdcdcd;
  border: 1px solid #ababab;
  margin-bottom: 20px;
  padding: 15px 0;
}
#footer nav li {
  display: inline-block;
  margin: 0 30px 20px 0;
}
#footer p.copyright {
  color: #edefef;
  background: #454545;
  text-align: center;
  padding: 15px 0;
}


/* device width 321 > 640 */
@media screen and (min-width: 321px) and (max-width: 640px) {

  /* wrap
  ---------------------*/
  
  #wrap {
    width: 100%;
  }


  /* header
  ---------------------*/
  
  #header h1 {
    margin-top: 40px;
  }
  /* global
  ---------------------*/
  
  #global {
    width: 100%;
    position: static;
    background: none;
  }
  #global ul {
    width: 100%;
    margin-bottom: 20px;
  }
  #global ul li {
    padding: 10px;
    margin: 0 10px 10px 10px;
    background: #454545;
    border-radius: 5px;
  }


  /* about
  ---------------------*/
  
  #about {
    width: 95%;
    margin: 0 auto;
  }
  #about ol {
    padding: 0;
  }
  #about ol li h2 {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0 0 5px;
  }
  #about ol li p {
    float: none;
    width: 100%;
    border-bottom: 1px dotted #cbcbcb;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }


  /* main
  ---------------------*/

  #main {
    margin: 0 15px;
  }
  #main .breadcrumbs ol {
    padding: 0;
  }


  /* articles
  ---------------------*/

  #main #articles {
    width: 100%;
    float: none;
    padding; 0;
  }
  #main #articles header h3 {
    width: 100%;
    float: none;
  }
  #main #articles header .date {
    width: 100%;
  }


  /* comments
  ---------------------*/

  #main #comments {
    width: 100%;
    float: none;
  }
  #main #comments h3 {
    margin-bottom: 0px;
  }
  #main #comments ul {
     height: 250px;
     border: 1px dotted #ccc;
     border-top: none;
     margin-top: 0;
     padding: 0 15px;
   }


  /* sub
  ---------------------*/

  #sub {
    position: static;
    width: 95%;
    margin: 0 auto;
  }
  #sub #local ul {
    overflow: hidden;
    width: 100%;
    float: none;
    list-style: none;
    padding: 0;
  }
  #sub #local ul li {
    width: 30%;
    float: left;
    margin-bottom: 10px;
    text-align: center;
  }
  #sub #local ul li a {
    display: block;
    padding: 10px;
    background: #efefef;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
  }
  #sub #local ul li:nth-child(3n+2) {
    margin: 0 3%;
  }
  #sub .ad {
    margin: 20px auto;
  }
  #sub  .banners ul {
    padding: 0;
  }


  /* footer
  ---------------------*/
  
  #footer nav ul {
    overflow: hidden;
    padding: 0 15px 30px;
  }
  #footer nav ul li {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
  }
  #footer nav ul li a {
    display: block;
    margin: 10px;
    padding: 30px;
    background: #efefef;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
  }
  #footer p.copyright {
    margin-bottom: 0;
  }
}
